.login {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #000;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/538717c0-f271-40e9-a99e-b07f9c521322/4a9270dc-7a97-44da-bda4-4dfc2dd4ea20/IN-en-20210201-popsignuptwoweeks-perspective_alpha_website_small.jpg")
    center no-repeat;
  background-size: cover;
  font-family: Helvetica Neue, Arial, sans-serif;
}

.login__gradient {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.login__body {
  width: 90% !important;
}

.login__body > h1 {
  z-index: 1;
  font-size: 3.125rem;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
}

.login__body > h2 {
  font-weight: 450;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 500;
}

.login__body > h3 {
  font-weight: 400;
  font-size: 1.1rem;
}

.login__input {
  position: relative;
  margin-top: 30px;
  max-width: 650px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.login__input > form {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.35s;
}

.login__inputForm {
  background: #fff !important;
  height: 100%;
  position: relative;
  width: 70%;
}

.login__inputForm > input {
  padding: 10px 10px;
  outline: none;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-top: 10px;
}

.login__inputLabel {
  position: absolute;
  left: 5px;
  top: 15px;
  color: #555;
  pointer-events: none;
  display: block;
  transition: all 0.5s;
}

.login__inputForm > input:focus + .login__inputLabel {
  transform: translate(-10px, -15px) scale(0.7) !important;
}

.validInput {
  transform: translate(-10px, -15px) scale(0.7) !important;
}

.login__input > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  background-color: #e50914;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  height: 100% !important;
}

.login__body {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px auto;
  z-index: 1;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media (max-width: 1183px) {
  .login__input > form > button {
    padding: 16px 10px;
    font-size: 15px;
  }
}

@media (max-width: 983px) {
  .login__input > form > button {
    width: 40%;
    font-size: 10;
  }
}

@media (max-width: 950px) {
  .login__body > h1 {
    font-size: 2.4rem;
  }

  .login__body > h2 {
    font-size: 1rem;
  }

  .login__body > h3 {
    font-size: 0.7rem;
  }
}

@media (max-width: 978px) {
  .login__input > form > button {
    font-size: 15px;
    padding: 10px;
    font-weight: 500;
    width: 30%;
  }

  .login__inputForm {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .login__input {
    min-width: 80%;
  }
}

@media (max-width: 978px) and (min-width: 954px) {
  .login__input > form > button {
    font-size: 15px;
    padding: 16px;
    font-weight: 500;
    width: 30%;
    margin-bottom: 18px;
  }
}

@media (max-width: 610px) {
  .login__input > form > button {
    font-size: 12px;
    padding: 7px 10px;
    font-weight: 500;
    width: 120px;
  }

  .login__inputForm {
    width: 100% !important;
    margin-bottom: 20px;
  }
}

@media (max-width: 756px) {
  .login__body > h1 {
    font-size: 2rem;
  }

  .login__body > h2 {
    font-size: 1rem;
  }

  .login__body > h3 {
    font-size: 0.7rem;
  }
}

@media (max-width: 952px) {
  .login__input > form {
    flex-wrap: wrap;
  }
}
