.nav {
  position: absolute;
  left: 0;
  padding: 20px !important;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between !important;
  margin: 0;
  z-index: 99;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__logo {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
}

.navHome .nav__logo {
  top: 0px;
}

.navHomeLogo {
  width: 150px;
}

.nav__black {
  background-color: #111;
  position: fixed;
  top: 0;
}

.nav__avatar {
  cursor: pointer;
  position: fixed;
  right: 20px;
  width: 35px;
}

.nav__signInButton {
  cursor: pointer;
  outline: none;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  box-shadow: none;
  height: 40px !important;
}

.navHome {
  height: 40px;
  position: absolute;
  left: 0;
}
